tests/test-set/sequenceUnbounded/test.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            elementFormDefault="unqualified">

   <!-- Root element -->
   <xsd:element name="root" type="rootType"/>

   <!-- Nested unbounded pattern: (item* value*)* -->
   <!-- Matches CCSDS NDM/XML 4.0 userDefinedType in common schema: (COMMENT* USER_DEFINED*)* -->
   <!-- Tests collision resolution for unbounded sequences with unbounded children -->
   <!-- Previously caused assertion at genUtils.c:268 -->
   <xsd:complexType name="rootType">
      <xsd:sequence maxOccurs="unbounded">
         <xsd:element name="item" type="xsd:string" minOccurs="0" maxOccurs="unbounded"/>
         <xsd:element name="value" type="xsd:string" minOccurs="0" maxOccurs="unbounded"/>
      </xsd:sequence>
   </xsd:complexType>
</xsd:schema>
