tests/test-set/xsAnnotation/annotation-test.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           targetNamespace="http://example.com/annotation-test"
           xmlns:tns="http://example.com/annotation-test"
           elementFormDefault="qualified">

  <!-- Test 1: Schema-level annotation -->
  <xs:annotation>
    <xs:documentation>
      This schema tests xs:annotation, xs:documentation, and xs:appinfo handling.
      Tests fix for PR #48 - annotations should be parsed but ignored.
    </xs:documentation>
    <xs:appinfo source="http://example.com/tool">
      <tool:config xmlns:tool="http://example.com/tool">
        <tool:option>value</tool:option>
      </tool:config>
    </xs:appinfo>
  </xs:annotation>

  <!-- Test 2: Element with annotation -->
  <xs:element name="root" type="tns:RootType">
    <xs:annotation>
      <xs:documentation>Root element documentation</xs:documentation>
    </xs:annotation>
  </xs:element>

  <!-- Test 3: Named complex type with annotation -->
  <xs:complexType name="RootType">
    <xs:annotation>
      <xs:documentation>Complex type with annotation</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:annotation>
        <xs:documentation>
          CRITICAL: Annotation inside sequence compositor.
          This is where PR #48 adds ELEMENT_ANNOTATION check at line 635.
        </xs:documentation>
      </xs:annotation>

      <xs:element name="field1" type="xs:string">
        <xs:annotation>
          <xs:documentation>Field with inline annotation</xs:documentation>
        </xs:annotation>
      </xs:element>

      <xs:element name="field2" type="tns:AnnotatedSimpleType"/>

      <xs:element name="field3" type="xs:int"/>
    </xs:sequence>

    <xs:attribute name="id" type="xs:int">
      <xs:annotation>
        <xs:documentation>Attribute with annotation</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>

  <!-- Test 4: Simple type with annotation and restriction -->
  <xs:simpleType name="AnnotatedSimpleType">
    <xs:annotation>
      <xs:documentation>Simple type with restriction and annotation</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:annotation>
        <xs:documentation>Annotation inside restriction</xs:documentation>
      </xs:annotation>
      <xs:minLength value="1"/>
      <xs:maxLength value="50"/>
    </xs:restriction>
  </xs:simpleType>

  <!-- Test 5: Element with local complex type and nested annotations -->
  <xs:element name="nested">
    <xs:annotation>
      <xs:documentation>Element with local complex type</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:annotation>
        <xs:documentation>Local complex type annotation</xs:documentation>
      </xs:annotation>
      <xs:sequence>
        <xs:element name="child" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <!-- Test 6: Enumeration with annotations -->
  <xs:simpleType name="StatusType">
    <xs:annotation>
      <xs:documentation>Status enumeration with annotated values</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="active">
        <xs:annotation>
          <xs:documentation>CRITICAL: Annotation in enumeration value.
            Tests enumIter increment fix from PR #48.
            Without fix: memory corruption when skipping annotated enums.
          </xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="pending">
        <xs:annotation>
          <xs:documentation>Pending status</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="inactive"/>
    </xs:restriction>
  </xs:simpleType>

  <!-- Test 7: Multiple documentation elements in one annotation -->
  <xs:element name="multiDoc" type="xs:string">
    <xs:annotation>
      <xs:documentation xml:lang="en">English documentation</xs:documentation>
      <xs:documentation xml:lang="de">Deutsche Dokumentation</xs:documentation>
      <xs:appinfo>Application metadata</xs:appinfo>
    </xs:annotation>
  </xs:element>

  <!-- Test 8: xs:choice with annotation -->
  <xs:complexType name="ChoiceType">
    <xs:annotation>
      <xs:documentation>Type with choice compositor</xs:documentation>
    </xs:annotation>
    <xs:choice>
      <xs:annotation>
        <xs:documentation>Annotation inside choice compositor</xs:documentation>
      </xs:annotation>
      <xs:element name="optionA" type="xs:string"/>
      <xs:element name="optionB" type="xs:int"/>
    </xs:choice>
  </xs:complexType>

  <!-- Test 9: xs:union with annotation -->
  <xs:simpleType name="UnionType">
    <xs:annotation>
      <xs:documentation>Union type with annotation</xs:documentation>
    </xs:annotation>
    <xs:union memberTypes="xs:int xs:string">
      <xs:annotation>
        <xs:documentation>Annotation inside union</xs:documentation>
      </xs:annotation>
    </xs:union>
  </xs:simpleType>

  <!-- Test 10: xs:list with annotation -->
  <xs:simpleType name="ListType">
    <xs:annotation>
      <xs:documentation>List type with annotation</xs:documentation>
    </xs:annotation>
    <xs:list itemType="xs:int">
      <xs:annotation>
        <xs:documentation>Annotation inside list</xs:documentation>
      </xs:annotation>
    </xs:list>
  </xs:simpleType>

  <!-- Test 11: xs:extension with annotation -->
  <xs:complexType name="ExtendedType">
    <xs:annotation>
      <xs:documentation>Type using extension</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:annotation>
        <xs:documentation>Annotation in complexContent</xs:documentation>
      </xs:annotation>
      <xs:extension base="tns:RootType">
        <xs:annotation>
          <xs:documentation>Annotation inside extension</xs:documentation>
        </xs:annotation>
        <xs:sequence>
          <xs:element name="extraField" type="xs:string"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <!-- Test 12: Multiple consecutive documentation elements -->
  <xs:simpleType name="WellDocumentedType">
    <xs:annotation>
      <xs:documentation>First documentation block</xs:documentation>
      <xs:documentation>Second documentation block - consecutive</xs:documentation>
      <xs:documentation source="http://example.com">Third documentation with source attribute</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:maxLength value="100"/>
    </xs:restriction>
  </xs:simpleType>

</xs:schema>
